
.brand-cursive {
  font-family: 'Dancing Script', cursive;
  color: #ffc107; 
}

.shadow-text {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.hero-section {
  min-height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), 
              url('https://img.freepik.com/premium-photo/hotel-relaxing-near-waterpool-beach_643934-5460.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 50px; 
}


.category-btn {
  border: none;
  background: transparent;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
  color: #666;
}

.category-btn.active {
  background: #f8f9fa;
  color: #0d6efd;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.05);
}

.category-btn:hover {
  background: #eee;
}


.custom-input-group {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  color: #888;
  font-size: 20px;
  pointer-events: none;
}


.btn-search-pill {
  background: #ffc107;
  border: none;
  border-radius: 15px;
  transition: transform 0.2s;
}

.btn-search-pill:hover {
  transform: scale(1.05);
  background: #ffca2c;
}


.material-symbols-rounded {
  vertical-align: middle;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.inputlabel {
  left: 9px;

}